:root {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 3em auto 2em;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #333;
    color: white;
    padding: 0.5em;
}

header h1 {
    size: 1em;
    margin: 0;
}

footer {
    background-color: #111;
    color: white;
    padding: 0.5em;
    size: 1em;
    text-align: center;
}

footer a, a:visited {
    color: cyan
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100vw;
    max-height: calc(100vh - 5em);
    background-color: #777;
}

#library {
    padding: 0.5em;
    overflow-y: auto;
}

#library .card {
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    margin: 0.25em;
    padding: 0.25em;
    position: relative;

    height: 7em;
    width: 45%;
    display: inline-block;
    
    /* flex-basis: 45%;
    height: 6em */
}

#library .card.active {
    background-color: #ccc;
}

.card canvas {
    width: 4em !important;
    height: 4em !important;
}
.card p {
    margin: 0;
    margin-left: -0.25em;
    margin-bottom: 0.25em;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

#game {
    padding: 1em;
}

#game canvas {
    width: 100% !important;
    height: auto !important;

}